* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    background-position: center center;
    height: 60vh;
    position: relative;
}

.main .black-box {
    background-color: black;
    height: 60vh;
    width: 100%;
    opacity: .5;
    position: absolute;
    top: 0;
}

nav {
    /* background-color: rgb(153, 151, 51); */
    width: 80vw;
    height: 62px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    /* height: 10vh; */
    padding: 22px;

}

nav div {
    position: relative;

    z-index: 10;
}

nav img {
    /* color: red; */
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    gap: 15px;
}

.hero span {
    text-align: center;
}

.hero span:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    line-height: 46px;
}

.hero span:nth-child(2) {
    font-size: 28px;
}

.separation {
    height: 11px;
    width: 100%;
    background-color: rgba(78, 76, 76, 0.427);
}

.hero-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 9px 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: rgba(231, 237, 237, 0.232);
    color: white;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 11px 80px 10px 13px;
    background-color: rgba(22, 23, 23, 0.389);
    border: 1px solid gray;

    border-radius: 4px;
    color: white
}

.btn-red {
    background-color: red;
    color: white;
    padding: 11px 28px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
}

.sec {
    position: relative;
}


.sec img {
    width: 391px;
    /* width: 450px; */
    position: relative;
    z-index: 10;
    /* overflow: hidden; */

}

.sec video {
    width: 391px;
    /* width: 27vw; */
    position: absolute;
    top: 42px;
    right: 0;
}

.first>div {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.first>div :nth-child(1) {
    font-size: 35px;
    font-weight: 800;
}

.first>div :nth-child(2) {
    font-size: 20px;
}

.faq h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 30px 0;
}

.faq-box {
    max-width: 60vw;
    padding: 10px 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(102, 102, 103);
    cursor: pointer;
    color: white;
    margin-top: 10px;

    transition: all .3s ease;

}

.faq-box:hover {
    background-color: rgba(102, 102, 103, 0.719);


}

.faq-box span {
    font-size: 24px;
}

svg {
    color: white;

}

footer {
    color: white;
}

footer span {
    margin: 10px 24vw;
    text-align: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 50vw;
    margin: auto;
    padding: 15px;
}

.btm-margin {
    margin: 30px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer a {
    color: white;
    text-decoration: none;
}

/* media  */

@media screen and (max-width:730px) {
    .first {
        flex-wrap: wrap;
    }

    .sec video {
        width: 59vw;
    }
}

@media screen and (max-width:451) {
    nav {
        /* background-color: rgb(153, 151, 51); */
        /* height: 10vh; */
        display: flex;
        padding: 22px;
        flex-wrap: wrap;
        width: 95vw;
    }

    .hero span:nth-child(1) {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
    }
}